/* Empty. Add your own CSS if you like */
.ion-ios-analytics{
  font-size: 25px;
  margin-right: 8px;
}
.ion-map{
  font-size: 25px;
  margin-right: 8px;
}
.ion-person{
  font-size: 25px;
  margin-right: 12px;
}
/*.item-complex .item-content, .item .blackItem{
    background-color: #454345 !important;
    border: none;
    font-size: 20px;
}*/
/*.menuContent{
    background-color: #454345;
}*/
.but-margin{
  margin-right: 2px !important;
}
.border-royal{
  border-bottom: 2px solid #886aea;
}
.border-balanced{
  border-bottom: 2px solid #33cd5f;
}
.border-energized{
  border-bottom: 2px solid #ffc900;
}
.border-positive{
  border-bottom: 2px solid #387ef5;
}

.text-center{
  text-align: center;
}

.map-but{
  position: absolute !important;
  top: 9vh;
  left: 50%;
  margin-left: -99px;

}
.map-add-bar{
  position: absolute !important;
  top: 9vh;
}
.map-li{
  float: left !important;
}
.map-ul{
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: 1px solid #363131;
  border-radius: 2px;
  -webkit-box-shadow: 2px 1px 9px -1px rgba(138,138,138,0.79);
  -moz-box-shadow: 2px 1px 9px -1px rgba(138,138,138,0.79);
  box-shadow: 2px 1px 9px -1px rgba(138,138,138,0.79);
}
.animate-map-ul{
  animation: ani-map 0.5s;
  width: 90vw;
  left: 5%;
}
@keyframes ani-map {
    0% {margin-top: -400px}
    100%  {margin-top: 0px;}
}

.map-but-select{
  margin-left: 10px;
  cursor: pointer;
  border-right: 1px solid #363131;
  padding-right: 5px;
  color: black;
}
.map-but-select:active{
  position:relative;
	top:1px;
}
.map-but-clear{
  cursor: pointer;
  margin-left: 7px;
  margin-right: 7px;
}
.map-but-clear:active{
  position:relative;
	top:1px;
}

.ion-compass{
   color: black;
   font-size:25px;
   padding-right: 5px !important;
   margin-top: 100px !important;
   border-right: 1px solid #363131;
}
.map-add{
  margin-left: 5px;
}

.map-pointer{
  position: absolute;
  top: 43vh;
  left:50%;
  margin-left: -16px;
  margin-top: -32px;
}
.animate-marker{
  transform: rotate(25deg);
  -ms-transform: rotate(25deg); /* IE 9 */
  -webkit-transform: rotate(25deg); /* Chrome, Safari, Opera */
  -webkit-animation: mymove 1s infinite; /* Chrome, Safari, Opera */
  animation: mymove 1s infinite;
}
@-webkit-keyframes mymove {
    50% {transform: rotate(-25deg);}
}

/* Standard syntax */
@keyframes mymove {
    50% {transform: rotate(-25deg);}
}

video#bgvid {
    -webkit-filter: brightness(0.9);
    filter: brightness(0.9);
    position: fixed;
    top: 50%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    background: url(../img/bgVideo.MP4) no-repeat;
}
.bright-vid{
  -webkit-filter: brightness(0.5) !important;
  filter: brightness(0.5) !important;
}
div.login{
   width: 90vw;
   left: 5vw;
   position: absolute;
   margin-top: 37vh !important;
   border-radius: 5px;
}
div.register{
   width: 90vw;
   left: 5vw;
   position: absolute;
   margin-top: 27vh !important;
   border-radius: 5px;
}
.user-form{
  height: 72px;
}
.form-element{
  -webkit-box-shadow: inset -1px 4px 26px -4px rgba(0,0,0,0.73);
  -moz-box-shadow: inset -1px 4px 26px -4px rgba(0,0,0,0.73);
  box-shadow: inset -1px 4px 26px -4px rgba(0,0,0,0.73);
  border: 2px solid black;
  background: #f2f2f2;
  color: black;
  margin-bottom: 7px;
}
.ride-mexico{
  position: absolute;
  display: inline;
  top: 10%;
  left: 50%;
  margin-left: -135px;
  font-family: 'grand_hotelregular';
  font-size: 70px !important;
  color: rgb(255, 255, 255);
  font-size: 41px;
  text-shadow: rgb(204, 204, 204) 0px 1px 0px,
              rgb(201, 201, 201) 0px 2px 0px,
              rgb(187, 187, 187) 0px 3px 0px,
              rgb(185, 185, 185) 0px 4px 0px,
              rgb(170, 170, 170) 0px 5px 0px,
              rgba(0, 0, 0, 0.0980392) 0px 6px 1px,
              rgba(0, 0, 0, 0.0980392) 0px 0px 5px,
              rgba(0, 0, 0, 0.298039) 0px 1px 3px,
              rgba(0, 0, 0, 0.14902) 0px 3px 5px,
              rgba(0, 0, 0, 0.2) 0px 5px 10px,
              rgba(0, 0, 0, 0.2) 0px 10px 10px,
              rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
}
.ride-mexico2{
  margin-top: 20px !important;
  font-family: 'grand_hotelregular';
  font-size: 80px !important;
  color: rgb(255, 255, 255);
  text-align: center;
  text-shadow: rgb(204, 204, 204) 0px 1px 0px,
              rgb(201, 201, 201) 0px 2px 0px,
              rgb(187, 187, 187) 0px 3px 0px,
              rgb(185, 185, 185) 0px 4px 0px,
              rgb(170, 170, 170) 0px 5px 0px,
              rgba(0, 0, 0, 0.0980392) 0px 6px 1px,
              rgba(0, 0, 0, 0.0980392) 0px 0px 5px,
              rgba(0, 0, 0, 0.298039) 0px 1px 3px,
              rgba(0, 0, 0, 0.14902) 0px 3px 5px,
              rgba(0, 0, 0, 0.2) 0px 5px 10px,
              rgba(0, 0, 0, 0.2) 0px 10px 10px,
              rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
}
.action-buttons{
  height: 43px !important;
  margin-top: -12px !important;
  margin-bottom: 30px !important;
}
.first{
  -webkit-box-shadow: 0px -1px 4px -1px rgba(0,0,0,1);
-moz-box-shadow: 0px -1px 4px -1px rgba(0,0,0,1);
box-shadow: 0px -1px 4px -1px rgba(0,0,0,1);
}
.description{
  height: 100px !important;
}
.grey-img{
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}
.profile{
  margin-top: 10vh !important;
}
.bg-user{
  color: white;
  background-color: black;
  font-family: 'andadaregular';
  opacity: 0.8;
}
.username{
  font-size: 50px;
  margin-top: 1vh !important;
  text-align: center;
}
.favs{
  padding: 10px;
  width: 45vw;
  text-align: center;
}
.stat-fav{
  color: #ff66ff;
  font-size: 25px;
}
.cards{
  padding: 10px;
  width: 45vw;
  text-align: center;
  float: right;
}
.stat-cards{
  color: #79ff4d;
  font-size: 25px;
}
.late{
  margin-top: 45px;
  padding: 10px;
  width: 45vw;
  text-align: center;
  vertical-align: middle
}
.stat-late{
  font-size: 25px;
  color: #f1c40f;
}
.conjusted{
  float: right;
  padding: 10px;
  width: 45vw;
  text-align: center;
  vertical-align: middle
}
.stat-conjusted{
  color: #34495e;
  font-size: 25px;
}
.unmaintained{
  padding: 10px;
  width: 45vw;
  text-align: center;
  vertical-align: middle;
  margin-top: 45px;
}
.stat-unmaintained{
  color: #f39c12;
  font-size: 25px;
}
.button-image{
  margin-top:5px;
  margin-left:-29px;
  position:absolute;
}
.item .item-content{
  background-color: transparent !important;
}
.item-borderless{
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 0px;
}
.userShadow{
  -webkit-box-shadow: -1px 7px 21px -1px rgba(0,0,0,0.87);
-moz-box-shadow: -1px 7px 21px -1px rgba(0,0,0,0.87);
box-shadow: -1px 7px 21px -1px rgba(0,0,0,0.87);
}
.userSettingsShadow{
  -webkit-box-shadow: inset -1px 0px 25px -1px rgba(0,0,0,0.75) !important;
-moz-box-shadow: inset -1px 0px 25px -1px rgba(0,0,0,0.75);
box-shadow: inset -1px 0px 25px -1px rgba(0,0,0,0.75) !important;
}
