<ion-view>
  <ion-nav-title>Bus Route: {{trips[0].route_short_name}}</ion-nav-title>
  <ion-tabs class="tabs-positive tabs-icon-top tabs-top tabs-striped">

    <ion-tab title="Stations" icon-on="ion-ios-flag" icon-off="ion-ios-flag-outline">
      <ion-item><h3>BusRoute</h3></ion-item>
      <ion-item>BusRoute</ion-item>
      <ion-content>
        <ion-list>
          <ion-item  class="item-divider">Stations List</ion-item>
          <ion-item ng-repeat="stop in stops track by $index" class="item-icon-right" href="#/app/database/metroRoute/stop/{{stop.stop_lat}}/{{stop.stop_lon}}/{{stop.stop_name}}/{{stop.stop_desc}}">
            {{stop.stop_name}}
            <i class="icon ion-ios-arrow-right"></i>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="Timing" icon-on="ion-android-time" icon-off="ion-ios-clock-outline">
      <h1>BusRoute</h1>
      <ion-content class="padding-top">
        <ion-list>
          <ion-item class="item-divider">
              <h2>{{trips[0].trip_desc}}</h2>
              <h5 class="royal">Total route time: {{routeTime}}</h5>
          </ion-item>
        </ion-list>
        <ion-list ng-repeat="week in weeks">
          <ion-item class="item-divider">
            <div ng-repeat="day in week" style="display:inline !important;">
              <button class="button button-small button-outline button-balanced but-margin">
                {{day}}
              </button>
            </div>
          </ion-item>
          <ion-item>
            <div class="row">
              <div class="col col-50">
                <h3 class="royal">Time<h3>
              </div>
              <div class="col col-50">
                <h3 class="royal">Frequency</h3>
              </div>
            </div>
          </ion-item>
          <ion-item ng-repeat="freq in frequencies[$index]">
            <div class="row">
              <div class="col col-50">
                <p>{{freq.start_time}} to {{freq.end_time}}<p>
              </div>
              <div class="col col-50">
                <p>{{freq.headway_secs}}s</p>
              </div>
            </div>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="Map" icon-on="ion-android-map" icon-off="ion-android-map">
      <ng-map zoom="11" center={{shapeCenter}}>
        <shape id="polyline" name="polyline"
          geodesic="true" stroke-color="#FF0000"
          stroke-opacity="1.0" stroke-weight="3"
          path={{shapes}}>
        </shape>
       <marker on-click="showPopup()" data="{{markersData[$index]}}" position="{{stopMap}}" ng-repeat="stopMap in stopsMap track by $index" icon="img/busMarker.png"></marker>
      </ng-map>
    </ion-tab>

    <ion-tab title="Community" icon-on="ion-android-people" icon-off="ion-android-people">
      <h1>f</h1>
      <ion-content>
        <div class="row action-buttons"  ng-if="tags">
          <div class="col">
            <button ng-click="tagsEdit('late')" class="button button-energized button-block button-outline">
              Late
                <span class="badge badge-energized">{{tags.late}}
                </span>
            </button>
          </div>
          <div class="col">
            <button ng-click="tagsEdit('like')" class="button button-assertive button-outline button-block icon-left ion-heart">{{tags.like}}</button>
          </div>
        </div>
        <div class="row action-buttons"  ng-if="tags">
          <div class="col">
            <button ng-click="tagsEdit('conjusted')" class="button button-royal button-block button-outline">
              <span style="margin-right:7px;">
              </span>
              congested
              <span class="badge badge-royal">
                {{tags.conjusted}}
              </span>
            </button>
          </div>
          <div class="col">
            <button ng-click="tagsEdit('unmaintained')" class="button button-dark button-block button-outline">
              Unmaintained
              <span class="badge badge-dark">{{tags.unmaintained}}
              </span>
            </button>
          </div>
        </div>
        <div class="row action-buttons"  ng-if="tags">
          <div class="col">
            <button ng-click="addCard($event)" class="button button-block button-outline button-balanced">Add A Card</button>
          </div>
        </div>
        <div ng-repeat="card in cards track by $index" class="list card">
          <div class="item">
            <h2>{{card.user}}</h2>
            <p>{{card.date | date:'dd-MM-yyyy'}}</p>
          </div>
          <div class="item item-body">
            <h2>{{card.title}}</h2>
            <img height="150px" width="180px" ng-if="card.imageData" class="full-image" src={{card.imageData}}>
            <p>
              {{card.description}}
            </p>
            <p>
              <a ng-click="likeCard($index)" class="subdued">{{card.likes}} Likes</a>
              <img ng-repeat="emoImg in card.emoImg track by $index" src={{emoImg}} height="30" width="30">
              <a ng-if="card.location.lat" class="subdued" ng-click="openLocation(card.location)">Open Location</a>
            </p>
          </div>
        </div>
        <ion-spinner ng-if="loadingCards" icon="android" style="margin-left: 46vw;"></ion-spinner>
        <p ng-if="cards.length < 1" style="text-align: center;">No Cards To Show</p>
      </ion-content>
    </ion-tab>

  </ion-tabs>
</ion-view>
