<ion-view view-title="Transport Database">
  <ion-content>
    <div class="list card" ng-controller="DatabaseMenuCtrl">
      <a class="item item-icon-left item-icon-right" ng-click="busToggle()" ng-class="{'positive': bus}">
        <i class="icon ion-android-bus" class="menuIcon"></i>
        Bus
        <i class="icon" ng-class="{'ion-chevron-down': !bus,
                                   'ion-chevron-up': bus}"></i>
      </a>
      <div ng-if="bus">
        <div class="button-bar bus-button-bar">
            <a class="button" href="#/app/database/busRoute"><i class="ion-network padding-right"></i>Routes info</a>
        </div>
      </div>
      <a class="item item-icon-left item-icon-right" ng-click="trainToggle()"  ng-class="{'positive': train}">
        <i class="icon ion-android-train"></i>
        Train
        <i class="icon" ng-class="{'ion-chevron-down': !train,
                                   'ion-chevron-up': train}"></i>
      </a>
      <div ng-if="train">
        <div class="button-bar bus-button-bar">
          <a class="button" href="#/app/database/trainRoute"><i class="ion-network padding-right"></i>Routes info</a>
        </div>
      </div>

      <a class="item item-icon-left item-icon-right" ng-click="metroToggle()"  ng-class="{'positive': metro}">
        <i class="icon ion-android-subway"></i>
        Metro
        <i class="icon" ng-class="{'ion-chevron-down': !metro,
                                   'ion-chevron-up': metro}"></i>
      </a>
      <div ng-if="metro">
        <div class="button-bar bus-button-bar">
          <a class="button" href="#/app/database/metroRoute"><i class="ion-network padding-right"></i>Routes info</a>
        </div>
      </div>
      <a class="item item-icon-left item-icon-right" ng-click="carrotToggle()" ng-class="{'positive': carrot}">
        <i class="icon ion-android-car"></i>
        Carrot Car rental
        <i class="icon" ng-class="{'ion-chevron-down': !carrot,
                                   'ion-chevron-up': carrot}"></i>
      </a>
      <div class="button-bar" ng-if="carrot">
        <a class="button" href="#/app/database/carrotMap"><i class="ion-android-map padding-right"></i>Carrot Stands Map</a>
      </div>
    </div>
  </ion-content>
</ion-view>
