<ion-view>

<ion-nav-title>Dyanmic Map</ion-nav-title>
<ion-tabs class="tabs-positive tabs-icon-top tabs-top tabs-striped">
  <ul class="map-ul" ng-if="status" ng-class="{'map-but': !gotNewAddress, 'map-add-bar button button-stable animate-map-ul': gotNewAddress}">
    <li ng-if="!gotNewAddress" class="map-li map-but-select" ng-click="selectLocation()"><a style="color: black" ng-click="selectLocation()">Select Location</a></li>
    <li ng-if="!gotNewAddress" class="map-li map-but-clear" ng-click="clearMap()"><a style="color: black">Clear Map</a></li>
    <li ng-if="gotNewAddress" class="map-li map-add-li"><a class="map-add" style="color: black">{{address}}</a></li>
  </ul>
  <img src="img/{{img}}" class="map-pointer" ng-if="status" ng-class="{'animate-marker': markerAnimation}">
    <ion-tab title="Map" icon-on="ion-android-map" icon-off="ion-android-map"  on-select="shower()" on-deselect="hider()">
      <!--<p ng-if="!online">No internet connection</p>-->
      <ng-map zoom="14" center="[19.2465, -99.1013]">
        <shape ng-if="shapes.length > 0" ng-repeat="shape in shapes track by $index" id="polyline" name="polyline"
          geodesic="true" stroke-color={{shape.colour}}
          stroke-opacity="0.80" stroke-weight="3"
          path={{shape.polyline}}>
        </shape>
        <shape ng-repeat="circle in circles track by $index" id="circle" name="circle"
          stroke-color='#f2f2f2' stroke-opacity="0.4" stroke-weight="2"
          center={{circle.center}} radius={{circle.radius}}>
        </shape>
        <marker position={{yourLocation}}></marker>
        <marker on-click="showPopup()" data="{{markersData[$index]}}" ng-repeat="marker in markers track by $index" position={{marker.position}} icon={{marker.icon}}></marker>
      </ng-map>
    </ion-tab>


    <ion-tab title="Settings" icon-on="ion-ios-gear-outline" icon-off="ion-ios-gear">
      <ion-content>
        <h1>hi</h1>
        <h3>f</h3>
        <ul class="list">
          <div class="item item-divider">
            Set Paths To Show
          </div>
          <li class="item item-toggle">
             Bus
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="bus" ng-change="busChange()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Train
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="train" ng-change="trainChange()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
          <li class="item item-toggle">
             Metro
             <label class="toggle toggle-balanced">
               <input type="checkbox" ng-model="metro" ng-change="metroChange()">
               <div class="track">
                 <div class="handle"></div>
               </div>
             </label>
          </li>
        </ul>
      </ion-content>
    </ion-tab>
  </ion-tabs>
</ion-view>
